.Rproj.user
.Rhistory
.RData
.Ruserdata
**/.vcf
**/.bed
AUS_102.gds
AUS_25.gds
by_pop_analysis.Rmd
EXCL_HAM.gds
AUS_372.gds
accessory from popgenome
drought_pops_pcadapt.log
lostianfstsmoothing
notsurewhatthiswas.Rmd
popgenome_vcf
ridiculousFAFFtryingtoRENAMEvars.R
snp_matrix_ori.txt
split_vcf_chrom (copy).txt
testingstuff.R
thereHAStobeabetterway
ByChrom
Processed_SNP_matrices
Thesis.Rproj
Max_Variation_FST (copy).Rmd
FungiDB-52_ZtriticiIPO323.gff
Orig13isolates.txt
old_popgenome_vcf
chrom_1_processed_matrix.csv
DEPRECATED
ByPop_Chrom
HPC_workflow
LDfiles
REHH
bta12_cgu.hap
bta12_cgu.thap
bta12_cgu.vcf.gz
bta12_hapguess_switch.out
example1.hap
example1.map
example1.vcf
example2.hap
example2.map
example2.vcf
example_neutral.vcf
example_sbatch
example_sweep.vcf
example_sweep_with_recombination.vcf
map.inp
ms.out
sample_names_Dpops.txt
sbatch
HapMaps
